<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to Dev Skills</h1>
    <a href ="/">Go Back Home</a>
    <ul>
        <% skills.forEach(function(s, idx) { %>
            <li>
                <form action="/skills/<%= idx %>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button>
                <a href="/skills/<%=idx%>"> <%= s.title%> </a>
                </form>
            </li>
        <% }); %>
        </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>
            